<script type="text/javascript">
    $('#select-tahun').empty();

    for (var i = 1990; i <= 2015; i++){
        $('#select-tahun').append('<option value="' + i + '">' + i + '</option>');
    }

    $('#h2-input-judul').html('Visualisasi Data Tahun ' + $('#select-tahun').val());

    $('#select-tahun').change(function(){
        $('#h2-input-judul').html('Visualisasi Data Tahun ' + $('#select-tahun').val());
    })

    // Kalkulasi DTR
    $('#input-debt, #input-gdb').change(function(){
        var dtr = 0;
        var debt = parseFloat($('#input-debt').val());
        var gdb = parseFloat($('#input-gdb').val());

        if ((debt > 0) && (gdb > 0)){
            dtr = debt + gdb;
            var dtr_r = parseFloat(Math.round(dtr * 100) / 100).toFixed(2);
            show_gauge("gauge1", dtr_r, 0, 100, "DTR");
        }
    })

    // Kalkulasi VaR
    $('#input-edtr, #input-ht').change(function(){
        var va_r = 0;
        var edtr = parseFloat($('#input-edtr').val());
        var ht = parseFloat($('#input-ht').val());

        if ((edtr > 0) && (ht > 0)){
            va_r = edtr + (1.95 * Math.sqrt(ht));
            var va_r_r = parseFloat(Math.round(va_r * 100) / 100).toFixed(2);
            show_gauge("gauge2", va_r_r, 0, 100, "VaR");
        }
    })
</script>
<div class="row">
    <div class="col-xs-4">
        <div class="well">
            <form>
                <div class="row">
                    <div class="col-xs-3">Tahun</div>
                    <div class="col-xs-9">
                        <select class="form-control" id="select-tahun">
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">DEBT</div>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="input-debt" placeholder="Isikan nilai DEBT...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">GDB</div>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="input-gdb" placeholder="Isikan nilai GDB...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">ER</div>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="input-er" placeholder="Isikan nilai ER...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">&Epsilon;(DTR)</div>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="input-edtr" placeholder="Isikan nilai &Epsilon;(DTR)...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">HT</div>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" id="input-ht" placeholder="Isikan nilai HT...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <center><input class="btn btn-primary" type="submit" id="submit-input" value="Input"></center>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <h2 id="h2-input-judul"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div id="gauge1"></div>
                <script type="text/javascript">
                    show_gauge("gauge1", 0, 0, 100, "DTR");
                </script>
            </div>
            <div class="col-xs-6">
                <div id="gauge2"></div>
                <script type="text/javascript">
                    show_gauge("gauge2", 0, 0, 100, "VaR");
                </script>
            </div>
        </div>
    </div>
</div>