<script type="text/javascript">
    $('#range-var1').change(function(){
        show_gauge('gauge2', parseInt($('#range-var1').val()), 0, 100, "Var1");
    })
    $('#range-var2').change(function(){
        show_gauge('gauge3', parseInt($('#range-var2').val()), 0, 100, "Var2");
    })
    $('#range-var3').change(function(){
        show_gauge('gauge4', parseInt($('#range-var3').val()), 0, 100, "Var3");
    })
    $('#range-var1, #range-var2, #range-var3').change(function(){
        var var1 = parseInt($('#range-var1').val());
        var var2 = parseInt($('#range-var2').val());
        var var3 = parseInt($('#range-var3').val());

        var overall = (var1 * 1 / 3) + (var2 * 1 / 3) + (var3 * 1 / 3)

        show_gauge('gauge1', overall.toFixed(2), 0, 100, "Overall");
    })
</script>
<div class="row">
    <div class="col-xs-4">
        <div class="well">
            <div class="form-group">
                <label>Var1</label>
                <input id="range-var1" type="range" value="0">
            </div>
            <div class="form-group">
                <label>Var2</label>
                <input id="range-var2" type="range" value="0">
            </div>
            <div class="form-group">
                <label>Var3</label>
                <input id="range-var3" type="range" value="0">
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <h2 id="h2-simulasi-judul">Simulasi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="gauge1"></div>
                <script type="text/javascript">
                    show_gauge("gauge1", 0, 0, 100, " ");
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="gauge2" style="height: 150px;"></div>
                <script type="text/javascript">
                    show_gauge("gauge2", 0, 0, 100, "Var1");
                </script>
            </div>
            <div class="col-md-4">
                <div id="gauge3" style="height: 150px;"></div>
                <script type="text/javascript">
                    show_gauge("gauge3", 0, 0, 100, "Var2");
                </script>
            </div>
            <div class="col-md-4">
                <div id="gauge4" style="height: 150px;"></div>
                <script type="text/javascript">
                    show_gauge("gauge4", 0, 0, 100, "Var3");
                </script>
            </div>
        </div>
    </div>
</div>